@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --ff: "Montserrat", sans-serif;
    --colorprimary: #ffffff;
    --colorprimaryshadow:#424E60;
    --colorsecondary:#000000;
    --coloraccent:#4D3DFF;
    --h1: bold 48px/60px var(--ff);
    --h2: 36px/20px var(--ff);
    --h3: 18px/12px var(--ff);
    --p: 12px/30px var(--ff);
}
h1 {
    font: var(--h1);
}
h2 {
    font: var(--h2);
}
h3 {
    font: var(--h3);
}
p {
    font: var(--p);
}
body {
    width: 90%;
    max-width: 1280px;
    margin:20px auto;
    background: var(--colorsecondary);
    color: var(--colorprimary);
    font: var(--p);
    gap: 40px;
    align-items: center;
    flex-wrap: wrap;

}
a {
background: var(--coloraccent);
color: var(--colorprimary);
padding: 20px 40px;
text-decoration: none;
font-weight: bold;
text-align: left;
justify-self: center;
font: var(--p);
margin: 5px;

}
img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
 /* aside{
    background: var(--colorprimaryshadow);
    position: sticky;
    top:10px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    border-radius: 10px;
} */
 aside {
  position: sticky;
  top: 80px;
  align-self: flex-start;
}
/* sidebar */
aside {
  display: flex;
  flex-direction: column;
  /* gap: 2rem; */
  z-index: 10;
}
.show-sidebar {
  display: flex;
}
.hide-sidebar {
  display: none;
}
.sidebar-links {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 10px;
  height: 20px;
}
.profile{
    max-width: 40px;
}
.profile-image{
    height: auto;
    width:"60px"; 
    height:"60px";

}
svg {
  width: 1.25rem;
  fill: none;
  stroke: var(--colorprimary);
  stroke-width: 1px;
}
/* .sidebar-links{
background: var(--coloraccent);
color: var(--colorprimary);
max-width: 200px;
padding: 20px 40px;
text-decoration: none;
font-weight: bold;
font: var(--p);
margin: 5px;
} */
/* Responsive Website  */
header{
    background-color: rgb(35, 35, 35);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 0px;
    margin-bottom: 20px;
}
.container{
background-color: rgb(35, 35, 35);
display: flex;
gap: 40px;
position: relative;
border-radius: 10px;
align-items: center;
flex-wrap: wrap;
/* margin: 20px; */
padding: 20px;
}
div{
    flex: 1;
    min-width: min(350px, 90vw);
    flex-wrap: wrap;
}
.main-layout{
 /* background-color: antiquewhite; */
 flex-grow: 1;
 gap: 40px;
 position: relative;
 border-radius: 15px;
 align-items: center;

}

.hamburger{
    display: flex;
}
.header-middle{
flex-grow: 1;
max-width: 25%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Adding Color Variables to create a web theme  */
 

/* Main sections */
.main-hero{
    /* background-color: blue;
     */
    background:var(--colorprimaryshadow);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}
 
.main-aboutme{
    background:var(--colorprimaryshadow);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
     border-radius: 10px;
    
}
.main-projects{
    /* background-color: brown; */
    background:var(--colorprimaryshadow);
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}
.main-projects-card{
    min-width: min(200px, 40vw);
    flex-wrap: wrap;
}
.main-experiences{
    background-color: #353535;
    color: var(--colorprimary);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: start;
    gap: 40px;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}
footer{
    background: var(--colorprimaryshadow);
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
     border-radius: 10px;
     margin-top: 20px;
}




/* Change size and appearance according to size of screen  */
@media (max-width: 50rem) {

    .header-middle{
        flex-grow: 0;
        margin-left: auto;
        margin-right: 1.5tem;
    } 
     aside{
    position: absolute;
    top: 0px;
    left: -2.5%;
    background-color: rgb(66, 64, 64);
    padding: 0 5% 0 2.5%;
    height: 100vh;

}

}