body{
    /* background-image: linear-gradient(right blue,gray); */
    /* background: linear-gradient(crimson, skyblue); */
    /* background: linear-gradient(to right,rgb(29, 25, 57), rgb(173, 216, 230)); */
    background: linear-gradient(to right,rgb(29, 25, 57), rgb(88, 76, 167));

    font-family: 'Trebuchet MS';
    color: white;
    text-align: left;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 0%;
}
.main-container{ 
    /* background: fixed rgb(242, 68, 68); */
    margin: 0%;
    padding: 0%;
    background-color: rgb(11, 33, 81);
    /* border: solid black 2px; */
    border-radius: 0 0 12px 12px;
    padding-top: 2px;
    padding-bottom: 2px;
}
/* Container ONe have the CSS for the name and its descriptions  */
.container-biography{
    padding-left: 20px;
    width: 50%;
}
/* this Css is for the menu and header  */
.heading{
    display: flex;
    flex-direction: row-reverse;
}
.menu{
    background-color: rgb(9, 18, 51);
    border: solid black 2px;
    border-radius: 0 0 0 12px;
    padding-top: 4px;
    padding-bottom: 2px;
    /* osward */
}
.menu-item{
    border: solid black;
    margin: 12px;
    margin-top: 6px;
}

.projects-preview{
    display: flex;
    justify-content: space-around;
    margin: 0%;
    padding: 0%;
    width: 100%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* border-radius: 0 0 0 4px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* align-items: center; */
    align-content: center;
    /* flex-grow: 1; */
    

   
}
.project-item{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-shadow: inset blue;
    padding: 12px;
    margin: 10px;
    /* width: 300px;  */
    height: 250px;
    border: solid black;
    border-radius: 10px;
    text-align: left;
    flex:1 0 200px;


    /* display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;  */
   
    /* border-color: solid black; 
*/
    /* background-color:blueviolet; */
}
.project-item img {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    height: 100px;
    /* display: flex;
    align-items: center; */
    
}

/* Addiing a thumnail hover animation  */
.thumbnail {
    transition: transform 0.3s;
}
.thumbnail:hover {
    transform: scale(1.1);
}